.presentation-wrapper {
  font-family: $font-family-tertiary;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-evenly;
  gap: $spacing-md;
  align-items: flex-start;

  .position {
    font-size: 3.7rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;

    .highlight-text {
      background-color: $primary-color;
      color: $primary-white;
      padding: 0.2rem 0.5rem;
    }
  }

  .description {
    text-align: justify;
    opacity: 0.5;
    max-width: 75ch;
    font-family: $font-family-tertiary;
    font-size: 0.95rem;
  }

  .years {
    width: 27ch;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
  }

  .actions {
    display: flex;
    gap: $spacing-lg;
    width: 100%;
    font-family: $font-family-secondary;
  }

  .email-me-btn {
    display: inline-block;
    cursor: pointer;
    background-color: $primary-color;
    color: $primary-white;
    padding: 0.65rem 1.2rem;
    width: max-content;
    position: relative;
    z-index: 1;
    transition: transform 0.2s;

    &:hover {
      background-color: $primary-color-dark;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
      transform: scale(1.1) translateY(-2px);
    }
  }

  .download-cv-btn {
    display: flex;
    position: relative;
    color: $primary-white;
    cursor: pointer;
    padding: 0.65rem 0;
    width: max-content;
    z-index: 1;
    opacity: 0.6;
    gap: $spacing-xs;
    align-items: center;
    transition: transform 0.2s;

    img {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover {
      transform: scale(1.1) translateY(-2px);
    }
  }

  @media (max-width: $breakpoint-tablet) {
    align-items: center;
    text-align: center;

    .title {
      font-size: 1.5rem;
    }

    .position {
      font-size: 2rem;
      line-height: 2.1rem;
    }

    .description {
      font-size: 1rem;
      max-width: 45ch;
      margin: 0 auto;
    }

    .years {
      font-size: 1.5rem;
    }

    .email-me-btn {
      padding: 0.5rem 1rem;
    }

    .download-cv-btn {
      padding: 0.5rem 0;
    }
  }

  @media (max-width: $breakpoint-small-tablet) {
    .description {
      max-width: 33ch;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    .description {
      max-width: 25ch;
    }
  }

  @media (max-width: $breakpoint-small-mobile) {
    .description {
      max-width: 20ch;
    }

    .actions {
      flex-direction: column;
      gap: $spacing-sm;
    }
  }
}
