@charset "UTF-8";
.input-wrapper {
  display: block;
  font-family: monospace;
  font-size: 2em;
  line-height: 2.2rem;
  margin: 1rem 0;
}
.input-wrapper > .placeholder {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
.input-wrapper > .placeholder {
  pointer-events: none;
}
.input-wrapper > .placeholder::before {
  content: "​";
  content: "​"/"Hello I am Alberto";
  alt: "Hello I am Alberto";
  white-space: break-spaces;
  will-change: content;
  -webkit-animation: typed-0 4.16s linear 1s infinite forwards;
          animation: typed-0 4.16s linear 1s infinite forwards;
}
.input-wrapper > .placeholder::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 2px;
  border-right: 5px solid currentColor;
  white-space: nowrap;
  -webkit-animation: typed-0-caret 0.75s linear 1s infinite forwards;
          animation: typed-0-caret 0.75s linear 1s infinite forwards;
}
@-webkit-keyframes typed-0 {
  0%, 1.6015641026% {
    content: "​H";
    content: "​H"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  1.6025641026%, 3.2041282051% {
    content: "​He";
    content: "​He"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  3.2051282051%, 4.8066923077% {
    content: "​Hel";
    content: "​Hel"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  4.8076923077%, 6.4092564103% {
    content: "​Hell";
    content: "​Hell"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  6.4102564103%, 8.0118205128% {
    content: "​Hello";
    content: "​Hello"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  8.0128205128%, 9.6143846154% {
    content: "​Hello ";
    content: "​Hello "/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  9.6153846154%, 11.2169487179% {
    content: "​Hello I";
    content: "​Hello I"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  11.2179487179%, 12.8195128205% {
    content: "​Hello I ";
    content: "​Hello I "/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  12.8205128205%, 14.4220769231% {
    content: "​Hello I a";
    content: "​Hello I a"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  14.4230769231%, 16.0246410256% {
    content: "​Hello I am";
    content: "​Hello I am"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  16.0256410256%, 17.6272051282% {
    content: "​Hello I am ";
    content: "​Hello I am "/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  17.6282051282%, 19.2297692308% {
    content: "​Hello I am A";
    content: "​Hello I am A"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  19.2307692308%, 20.8323333333% {
    content: "​Hello I am Al";
    content: "​Hello I am Al"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  20.8333333333%, 22.4348974359% {
    content: "​Hello I am Alb";
    content: "​Hello I am Alb"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  22.4358974359%, 24.0374615385% {
    content: "​Hello I am Albe";
    content: "​Hello I am Albe"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  24.0384615385%, 25.640025641% {
    content: "​Hello I am Alber";
    content: "​Hello I am Alber"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  25.641025641%, 27.2425897436% {
    content: "​Hello I am Albert";
    content: "​Hello I am Albert"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  27.2435897436%, 62.1784871795% {
    content: "​Hello I am Alberto";
    content: "​Hello I am Alberto"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  62.1794871795%, 63.4605384615% {
    content: "​Hello I am Albert";
    content: "​Hello I am Albert"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  63.4615384615%, 64.7425897436% {
    content: "​Hello I am Alber";
    content: "​Hello I am Alber"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  64.7435897436%, 66.0246410256% {
    content: "​Hello I am Albe";
    content: "​Hello I am Albe"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  66.0256410256%, 67.3066923077% {
    content: "​Hello I am Alb";
    content: "​Hello I am Alb"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  67.3076923077%, 68.5887435897% {
    content: "​Hello I am Al";
    content: "​Hello I am Al"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  68.5897435897%, 69.8707948718% {
    content: "​Hello I am A";
    content: "​Hello I am A"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  69.8717948718%, 71.1528461538% {
    content: "​Hello I am ";
    content: "​Hello I am "/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  71.1538461538%, 72.4348974359% {
    content: "​Hello I am";
    content: "​Hello I am"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  72.4358974359%, 73.7169487179% {
    content: "​Hello I a";
    content: "​Hello I a"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  73.7179487179%, 74.999% {
    content: "​Hello I ";
    content: "​Hello I "/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  75%, 76.2810512821% {
    content: "​Hello I";
    content: "​Hello I"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  76.2820512821%, 77.5631025641% {
    content: "​Hello ";
    content: "​Hello "/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  77.5641025641%, 78.8451538462% {
    content: "​Hello";
    content: "​Hello"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  78.8461538462%, 80.1272051282% {
    content: "​Hell";
    content: "​Hell"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  80.1282051282%, 81.4092564103% {
    content: "​Hel";
    content: "​Hel"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  81.4102564103%, 82.6913076923% {
    content: "​He";
    content: "​He"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  82.6923076923%, 83.9733589744% {
    content: "​H";
    content: "​H"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  83.9743589744%, 100% {
    content: "​";
    content: "​"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
}
@keyframes typed-0 {
  0%, 1.6015641026% {
    content: "​H";
    content: "​H"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  1.6025641026%, 3.2041282051% {
    content: "​He";
    content: "​He"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  3.2051282051%, 4.8066923077% {
    content: "​Hel";
    content: "​Hel"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  4.8076923077%, 6.4092564103% {
    content: "​Hell";
    content: "​Hell"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  6.4102564103%, 8.0118205128% {
    content: "​Hello";
    content: "​Hello"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  8.0128205128%, 9.6143846154% {
    content: "​Hello ";
    content: "​Hello "/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  9.6153846154%, 11.2169487179% {
    content: "​Hello I";
    content: "​Hello I"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  11.2179487179%, 12.8195128205% {
    content: "​Hello I ";
    content: "​Hello I "/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  12.8205128205%, 14.4220769231% {
    content: "​Hello I a";
    content: "​Hello I a"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  14.4230769231%, 16.0246410256% {
    content: "​Hello I am";
    content: "​Hello I am"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  16.0256410256%, 17.6272051282% {
    content: "​Hello I am ";
    content: "​Hello I am "/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  17.6282051282%, 19.2297692308% {
    content: "​Hello I am A";
    content: "​Hello I am A"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  19.2307692308%, 20.8323333333% {
    content: "​Hello I am Al";
    content: "​Hello I am Al"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  20.8333333333%, 22.4348974359% {
    content: "​Hello I am Alb";
    content: "​Hello I am Alb"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  22.4358974359%, 24.0374615385% {
    content: "​Hello I am Albe";
    content: "​Hello I am Albe"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  24.0384615385%, 25.640025641% {
    content: "​Hello I am Alber";
    content: "​Hello I am Alber"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  25.641025641%, 27.2425897436% {
    content: "​Hello I am Albert";
    content: "​Hello I am Albert"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  27.2435897436%, 62.1784871795% {
    content: "​Hello I am Alberto";
    content: "​Hello I am Alberto"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  62.1794871795%, 63.4605384615% {
    content: "​Hello I am Albert";
    content: "​Hello I am Albert"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  63.4615384615%, 64.7425897436% {
    content: "​Hello I am Alber";
    content: "​Hello I am Alber"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  64.7435897436%, 66.0246410256% {
    content: "​Hello I am Albe";
    content: "​Hello I am Albe"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  66.0256410256%, 67.3066923077% {
    content: "​Hello I am Alb";
    content: "​Hello I am Alb"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  67.3076923077%, 68.5887435897% {
    content: "​Hello I am Al";
    content: "​Hello I am Al"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  68.5897435897%, 69.8707948718% {
    content: "​Hello I am A";
    content: "​Hello I am A"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  69.8717948718%, 71.1528461538% {
    content: "​Hello I am ";
    content: "​Hello I am "/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  71.1538461538%, 72.4348974359% {
    content: "​Hello I am";
    content: "​Hello I am"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  72.4358974359%, 73.7169487179% {
    content: "​Hello I a";
    content: "​Hello I a"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  73.7179487179%, 74.999% {
    content: "​Hello I ";
    content: "​Hello I "/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  75%, 76.2810512821% {
    content: "​Hello I";
    content: "​Hello I"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  76.2820512821%, 77.5631025641% {
    content: "​Hello ";
    content: "​Hello "/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  77.5641025641%, 78.8451538462% {
    content: "​Hello";
    content: "​Hello"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  78.8461538462%, 80.1272051282% {
    content: "​Hell";
    content: "​Hell"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  80.1282051282%, 81.4092564103% {
    content: "​Hel";
    content: "​Hel"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  81.4102564103%, 82.6913076923% {
    content: "​He";
    content: "​He"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  82.6923076923%, 83.9733589744% {
    content: "​H";
    content: "​H"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
  83.9743589744%, 100% {
    content: "​";
    content: "​"/"Hello I am Alberto";
    alt: "Hello I am Alberto";
  }
}
@-webkit-keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}