main {
  position: relative;
  width: 100%;
  padding-top: 6rem;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  @media (max-width: $breakpoint-mobile) and (orientation: portrait) {
    padding: 6rem 0.5rem 0 0.5rem;
  }
}
