.skills-section {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background: #f3f4f64b;
  padding: 1.5rem 0;
  overflow: hidden;
  color: black;
}

.skills-marquee {
  overflow: hidden;
  width: 100%;

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 8%,
    black 92%,
    transparent 100%
  );

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 8%,
    black 92%,
    transparent 100%
  );
}

.skills-track {
  display: flex;
  width: max-content;
  justify-content: space-evenly;
  animation: scroll 30s linear infinite;
  will-change: transform;
}

.skills-row {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding-right: 3rem;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.skills-section:hover .skills-track {
  animation-play-state: paused;
}

.skills-icon {
  width: 3rem;
  height: 3rem;
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
  filter: grayscale(100%);

  &:hover {
    transform: scale(1.15);
    opacity: 1;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: $breakpoint-tablet) {
  .skills-marquee {
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    )
  }
}