.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 1.5rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: $font-family-nav;
  font-weight: 700;
  box-shadow: var(--box-shadow);
  
  @media only screen and (min-width: 64.063rem) {
    min-width: 50rem;
    width: -moz-fit-content;
    width: fit-content;
    background: rgba(var(--black), 0.9);
    border-radius: 6.25rem
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem 1rem;
    @media only screen and (min-width: 64.063rem) {
      padding:.5rem .75rem .5rem 2rem;
      gap: 3.5rem
    }
  }

  span.logo {
    margin-right: auto;
    cursor: pointer;
    font-size: 1.5rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    a {
      color: var(--dark-font-color);
      transition: transform 0.2s, box-shadow 0.2s;
      margin: 0 1rem;
      cursor: pointer;

      &:hover {
        color: var(--dark-font-color);
        transform: translateY(-2px);
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
      }

      &:not(.border-green) {
        &:before, &:after {
          position: absolute;
          opacity: 0;
          width: 0%;
          height: 2px;
          content: '';
          background: var(--dark-font-color);
          transition: all 0.3s;
        }

        &:before {
          left: 0px;
          top: 0px;
        }

        &:after {
          right: 0px;
          bottom: 0px;
        }

        &:hover {
          &:before, &:after {
            opacity: 1;
            width: 100%;
          }
        }
      }

      &.border-green {
        border: 2px solid var(--primary-green);
        padding: 0.5rem 1rem;
        transition: transform 0.2s;
        border-radius: 100px;

        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }
}
.header.sticky {
  z-index: 40;
  animation: slideDown .75s ease-in-out;

  @keyframes slideDown {
    0% {
      transform: translateY(-100%)
    }

    100% {
      transform: translateY(0)
    }
  }
}
.header-container {
  display: block;
  margin: 0 auto;
  max-width: 75rem;
  position: relative;
  flex-direction: row;
}