<header class="flex justify-between">
  <img src="" alt="agarciadk photo" />

  <nav>
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
