section {
  padding: 1.5rem 0;
  width: 100%;

  h2 {
    position: relative;
    text-align: left;
    font-size: 2rem;
    display: flex;
    align-self: flex-start;
    margin-bottom: $spacing-lg;
  
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.75rem;
      width: 3rem;
      height: 0.5rem;
      border-radius: 99px;
      background-color: var(--primary-green);
    }

    @media (min-width: $breakpoint-tablet) {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}
