/* Experience */
.experience-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  place-items: center;
}
.row {
  display: flex;
  justify-content: space-between; /* O `start` si quieres alineado a la izquierda */
  align-items: center;
  gap: 20px; /* Espacio entre columnas */
  inline-size: 100%;
}
.title {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
}
.experience-section .experience-wrapper:nth-child(even) {
  place-self: flex-end;
}
.arrow-down-right {
  width: 88px;
  height: 88px;
  fill: var(--primary-green);
}
.experience-section .experience-wrapper:nth-child(odd) { /* Card de la derecha */
  place-self: flex-start;
}
.arrow-down-left {
  width: 88px;
  height: 88px;
  fill: var(--primary-green);
}
.experience-wrapper {
  background-color: var(--dark-card-background);
  color: var(--dark-card-font-color);
  border-radius: var(--card-border-radius, 15px);
  text-align: left;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 1.2s;
}
.experience-wrapper:hover {
  transform: translateY(-5px); /* Eleva la card ligeramente */
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);
}
.experience-header {
  border-top-right-radius: var(--card-border-radius);
  border-top-left-radius: var(--card-border-radius);
  padding: 1.25rem 2.25rem;
}
.experience-description {
  display: none;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  padding: 0.5rem 3rem;
}
.experience-description p, .experience-description ul, .experience-description ol {
  font-size: .8rem;
}
.experience-description p, .experience-description h3, .experience-description ul, .experience-description ol {
  opacity: .8;
}
.experience-description ul {
  margin-top: .7rem;
  margin-left: 1rem;
}
.experience-description ul li {
  margin-bottom: .5rem;
}
.experience-description ol {
  margin-left: 1.5rem;
}
.experience-date {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-top: 1.2rem;
}
@media (prefers-color-scheme: light) {
  .experience-header {
    background: linear-gradient(
      90deg,
      var(--light-indigo-dye) 0%,
      var(--light-lapis-lazuli) 65%,
      var(--light-green-blue-crayola) 100%);
    color: var(--light-card-font-color);
  }
}
@media (min-width: 1280px) {
  .experience-wrapper {
    margin-left: 0;
  }
}