.timeline {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  row-gap: 3rem;
  padding-top: 2rem;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: linear-gradient(
    to bottom,
    transparent,
    rgba(255, 255, 255, 0.15),
    transparent
  );
    transform: translateX(-50%);
  }
}

.experience-item {
  grid-column: 1 / -1;
  display: grid;
  position: relative;
  max-width: 26rem;
}

.experience-item::after {
  content: '';
  position: absolute;
  top: calc(1.5rem + 5px);
  width: 2rem;
  height: 2px;
  background: rgba(255, 255, 255, 0.15);
}

.experience-item::before {
  content: '';
  position: absolute;
  top: 1.5rem;
  width: 12px;
  height: 12px;
  background: var(--primary-green);
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(7, 146, 17, 0.2);
  z-index: 2;
}

.experience-item.left {
  justify-self: start;
  padding-right: 1rem;
}

.experience-item.left::before {
  right: -1rem;
}

.experience-item.left::after {
  right: -2.5rem;
}

.experience-item.right {
  grid-column: 3;
  justify-self: end;
  padding-left: 1rem;
}

.experience-item.right::before {
  left: -1rem;
}

.experience-item.right::after {
  left: -2.5rem;
}

@media (max-width: 940px) {
  .experience-item::after {
    width: 0;
    height: 0;
  }
}

@media (max-width: $breakpoint-large-tablet) {
  .experience-item {
    max-width: 25rem;
  }
}

@media (max-width: $breakpoint-tablet) {
  .timeline {
    grid-template-columns: 20px 1fr;

    &::before {
      left: calc(50% - 13rem);
    }
  }

  .experience-item.left, .experience-item.right {
    margin: 0 auto;
    grid-column: 1 / -1;
    justify-self: start;
    padding-left: 3rem;
    padding-right: 0rem;
  }

  .experience-item.left::before, .experience-item.right::before {
    left: 1.5rem;
  }

  .experience-item.left::after, .experience-item.right::after {
    left: -1px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .experience-item::after {
    width: 0;
    height: 0;
  }
}