.timeline {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  row-gap: 3rem;
  padding-top: 2rem;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: rgba(255, 255, 255, .15);
    transform: translateX(-50%);
  }
}

.experience-item {
  grid-column: 1 / -1;
  display: grid;
  position: relative;
  max-width: 26rem;
}

.experience-item::before {
  content: '';
  position: absolute;
  top: 1.5rem;
  width: 12px;
  height: 12px;
  background: var(--primary-green);
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(7, 146, 17, 0.2);
  z-index: 2;
}

.experience-item.left {
  justify-self: start;
  padding-right: 1rem;
}

.experience-item.left::before {
  right: -1rem;
}

.experience-item.right {
  grid-column: 3;
  justify-self: end;
  padding-left: 1rem;
}

.experience-item.right::before {
  left: -1rem;
}

@media (max-width: $breakpoint-tablet) {
  .timeline {
    grid-template-columns: 20px 1fr;

    &::before {
      left: 0;
    }
  }

  .experience-item {
    grid-column: right;
    padding-left: 2rem;
    padding-right: 0;

    &::before {
      left: -6px;
    }
  }
}