@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap&family=Montserrat:wght@400;700&family=Raleway&display=swap');

:root {
  font-family: 'Bungee', 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;

  --primary-blue: #09c;
  --primary-purple: #9E193A;
  --primary-green: #079211; 
  --primary-dark-green: #045e0b;
  --primary-white: #fff;
  --card-border-radius: 15px;
  /* dark scheme */
  --dark-font-color: rgba(255, 255, 255, 0.87);
  --dark-nav-background-color: #213547;
  --dark-background-color: #101017;
  --dark-card-font-color: #ffffff;
  --dark-card-background: #313131;

  --dark-indigo-dye: #013d65;
  --dark-prussian-blue: #07314b;
  --dark-sonic-silver: #737178;
  --dark-sapphire-blue: #025e8d;
  --dark-rhythm: #737482;
  /* light scheme */
  --light-font-color: #213547;
  --light-nav-background-color: #213547;
  --light-background-color: #f9f9f9;
  --light-card-font-color: rgba(255, 255, 255, 0.87);
  --light-card-background: #213547;

  --light-lapis-lazuli: #0261a1;
  --light-indigo-dye: #0a4e78;
  --light-silver-metallic: #b5b3b8;
  --light-green-blue-crayola: #0394dd;
  --light-silver-sand: #bcbdc4;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  text-align: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--dark-background-color);
  color: var(--dark-font-color);
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
a {
  font-weight: 500;
  color: rgb(96, 195, 228);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-blue);
}
h1 {
  font-size: 3.2em;
  font-weight: 700;
  line-height: 1.1;
}
.m-0 {
  margin: 0;
}
.ml-2 {
  margin-left: 2rem;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mt-1 {
  margin-top: 1rem;
}
.t-justify {
  text-align: justify;
}
.opacity-9 {
  opacity: .9;
}
.opacity-8 {
  opacity: .8;
}
.purple {
  color: var(--primary-purple);
}
.green {
  color: var(--primary-green);
}
.icon {
  width: 24px;
  height: 24px;
}
@media (prefers-color-scheme: light) {
  body {
    color: var(--light-font-color);
    background: linear-gradient(
      125deg,
      var(--light-background-color) 0%,
      var(--light-silver-metallic) 50%,
      var(--light-silver-sand) 100%);
  }
}