:root {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  --primary-blue: #09c;
  --card-border-radius: 15px;
  /* dark scheme */
  --dark-font-color: rgba(255, 255, 255, 0.87);
  --dark-nav-background-color: #213547;
  --dark-background-color: #242424;
  --dark-card-font-color: #222;
  --dark-card-background: #f9f9f9;

  --dark-indigo-dye: #013d65;
  --dark-prussian-blue: #07314b;
  --dark-sonic-silver: #737178;
  --dark-sapphire-blue: #025e8d;
  --dark-rhythm: #737482;
  /* light scheme */
  --light-font-color: #213547;
  --light-nav-background-color: #213547;
  --light-background-color: #f9f9f9;
  --light-card-font-color: rgba(255, 255, 255, 0.87);
  --light-card-background: #213547;

  --light-lapis-lazuli: #0261a1;
  --light-indigo-dye: #0a4e78;
  --light-silver-metallic: #b5b3b8;
  --light-green-blue-crayola: #0394dd;
  --light-silver-sand: #bcbdc4;
}

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--dark-background-color);
  color: var(--dark-font-color);
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: rgb(96, 195, 228);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-blue);
}

h1 {
  font-size: 3.2em;
  font-weight: 700;
  line-height: 1.1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

section h2 {
  position: relative;
  text-align: left;
  margin-bottom: 3rem;

  font-size: 2rem;
}

section h2::before {
  content: '';
  
  position:absolute;
  top: calc(2rem);
  left: 1.5rem;

  width: 3rem;
  height: 0.5rem;

  transform: translateX(-50%);

  border-radius: 99px;
  background-color: var(--primary-blue);
}
/* Nav */
nav {
  max-width: 100vw;
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: var(--dark-nav-background-color);
  padding: 16px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
nav a {
  color: var(--dark-font-color);
  position: relative;
}
nav a:hover {
  color: var(--dark-font-color);
}
nav a:before, nav a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: var(--dark-font-color);
    transition: all 0.3s;
}

nav a:before {
    left: 0px;
    top: 0px;
}

nav a:after {
    right: 0px;
    bottom: 0px;
}

nav a:hover:before, nav a:hover:after {
    opacity: 1;
    width: 100%;
}

/* Presentation */
.presentation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-radius: 15%;
  padding: 1em;
}
.presentation-wrapper p { 
  font-size: 2rem;
}
.subtitle {
  color: var(--dark-sapphire-blue);
  opacity: .7;
}
/* Experience */
.experience-wrapper {
  background-color: var(--dark-card-background);
  color: var(--dark-card-font-color);
  border-radius: var(--card-border-radius);
  margin-left: 64px;
	margin-bottom: 30px;
	text-align: left;
}
.experience-header {
  border-top-right-radius: var(--card-border-radius);
  border-top-left-radius: var(--card-border-radius);
  padding: 1.5rem 3rem;
}
.experience-description {
  padding: 1.5rem 3rem;
}

.m-0 {
	margin: 0;
}
.ml-2 {
	margin-left: 2rem;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mt-1 {
  margin-top: 1rem;
}
.t-justify {
	text-align: justify;
}
.opacity-9 {
  opacity: .9;
}
.experience-date {
	display: flex;
	justify-content: space-between;
}
/* Project */
.card-wrapper {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
  margin-left: 64px;
	justify-content: space-between;
}
.card {
	max-width: 300px;
	background-color: var(--dark-card-background);
  border-radius: var(--card-border-radius);
	color: var(--dark-card-font-color);
	padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
}
.card-title {
	font-size: 1.2em;
  padding-bottom: 16px;
  text-transform: uppercase;
}
.card-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  background-color: var(--light-background-color);
}
.card-links a {
  border: 1px solid var(--dark-background-color);
  padding: 8px;
}
.card-links a img {
  transition: transform 0.2s ease-in-out;
}
.card-links a:hover img {
  transform: scale(1.2);
}

.card-description {
  padding: 1rem;
	text-align: left;
  opacity: .9;
  color: var(--dark-card-font-color);
  background-color: var(--dark-card-background);
}
.card-description a {
	cursor: pointer;
}

.card-languages {
  padding-top: 16px;
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--light-font-color);
    background: linear-gradient(
      125deg,
      var(--light-background-color) 0%,
      var(--light-silver-metallic) 50%,
      var(--light-silver-sand) 100%);
  }
  nav {
    background-color: var(--light-lapis-lazuli);
  }
  .subtitle {
    color: var(--light-green-blue-crayola);
  }
  .experience-header {
    background: linear-gradient(
      90deg,
      var(--light-indigo-dye) 0%,
      var(--light-lapis-lazuli) 65%,
      var(--light-green-blue-crayola) 100%);
    color: var(--light-card-font-color);
  }
  .card {
    background: linear-gradient(
      90deg,
      var(--light-indigo-dye) 0%,
      var(--light-lapis-lazuli) 65%,
      var(--light-green-blue-crayola) 100%);
    color: var(--light-card-font-color);
  }
  .card-links a {
    border-color: var(--light-silver-sand);
  }
}