div.background-primary {
  max-width: 1280px;
}
div.background-secondary::before {
  content: '';
  display: flex;
  position: absolute;
  width: 100vw;
  height: -webkit-fill-available;
  margin-left: calc(50% - 50vw);
  background-color: var(--dark-card-background);
  z-index: -1;
}