div.background-primary {
  max-width: 1280px;
}
div.background-primary, div.background-secondary {
  position: relative;
  padding: 2rem;
}
div.background-secondary {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
.background-primary {
  background-color: var(--dark-background-color);
}
.background-secondary {
  background-color: var(--dark-card-background);
}